.weather-app-container {
  //children styling
  display: flex;
  flex-direction: column;
  gap: $spc-20;

  min-width: 650px;
  min-height: 200px;

  //position styling
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translateY(-75%) translateX(-50%);

  //coloring & border
  background-color: rgba($color-black, $alpha-75);
  padding: $spc-50;
  border-radius: 12px 12px 12px 12px;
  color: $color-white;

  .weather-main-div {
    //children styling
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: $spc-20;

    .weather-details {
      flex-basis: 20%;

      .weather-details-city {
        text-transform: uppercase;
        font-weight: 600;
      }
      .weather-details-temperature {
        font-size: $font-size-large;
        font-weight: 600;
      }
    }

    .weather-icon {
      flex-basis: 80%;
    }
  }
  .weather-five-day-div {
    display: flex;
    flex-direction: row;
    gap: $spc-20;

    .weather-day {
      .weather-day-title {
        text-transform: uppercase;
      }
      .weather-day-temp {
        font-size: $font-size-medium;
        font-weight: 600;
      }
    }
  }
  .weather-location-search-div {
    align-self: center;
    margin-top: $spc-100;
  }
}
