//colors
$color-black: #201e1f;
$color-orange: #ff4000;
$color-white: #faf6f6;
$color-blue: #50b2c0;
$color-dark-blue: #607196;

//alpha-values
$alpha-50: 0.5;
$alpha-75: 0.75;

//spacers
$spc-50: 50px;
$spc-100: 100px;
$spc-125: 125px;
$spc-20: 20px;

//font-sizes
$font-size-large: 50px;
$font-size-medium: 25px;
$font-size-small: 15px;
